<ul>
    <li><%= link_to 'bets', bets_path %></li>
    <li><%= link_to 'players', players_path %></li>
    <li><%= link_to 'results', results_path %></li>
    <li><%= link_to 'participations', participations_path %></li>
</ul>
